.font1 {
	font-family: 'Work Sans', sans-serif;
}


/* Home page */

/* Hero image */ 
.heroimage {
	padding: 10vh;
	margin: 0;
	max-width: auto;
	height: 80vh;
	background-image: url("https://images.unsplash.com/photo-1485627941502-d2e6429a8af0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* Introductory paragraph */ 
section {
	background-color: #F8F9FA;
	padding: 10vh;
	margin: 0;
	max-width: auto;
	height: 100%;
}

/* styling for Emoji */ 
img {
	max-width: 100%;
	height: auto;
	float: right;
}

h2 {
	margin-top: 3em;
}


/* Keep footer at page bottom - https://dev.to/domysee/keeping-the-footer-at-the-bottom-with-css-flexbox-5h5f */

html,
body {
	width: 100%;
	height: 100%;
}

article {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

main {
	flex-grow: 1;
}

footer p {
	text-align: center;
}

footer div {
	text-align: center;
}

header,
main,
footer {
	flex-shrink: 0;
}


/* TIMELINE https://codepen.io/Astroop/pen/LYpWjMJ */
        body {
            margin: 0;
            padding: 0;
        }

        .timeline {
            position: relative;
            margin: 50px auto;
            width: 1000px;
            padding: 40px 0;
            box-sizing: border-box;
        }

        .timeline:before {
            content: '';
            position: absolute;
            left: 51.5%;
            width: 2px;
            height: 100%;
            background: black;
        }

        .timeline ul {
            margin: 0;
            padding 0;
        }

        .timeline ul li {
            list-style: none;
            line-height: normal;
            position: relative;
            width: 50%;
            padding: 20px 40px;
            box-sizing: border-box;
        }

        .timeline ul li:nth-child(odd) {
            float: left;
            text-align: right;
            clear: both;

        }

        .timeline ul li:nth-child(even) {
            float: right;
            text-align: left;
            clear: both;
        }

        .content {
            padding-bottom: 20px;
        }

        .timeline ul li:nth-child(odd):before {
            content: '';
            position: absolute;
            top: 24px;
            right: -6px;
            width: 10px;
            height: 10px;
            background: grey;
            border-radius: 50%;
            box-shadow: 0 0 0 3px lightgrey;
        }        
        
        .timeline ul li:nth-child(even):before {
            content: '';
            position: absolute;
            top: 24px;
            left: -4px;
            width: 10px;
            height: 10px;
            background: grey;
            border-radius: 50%;
            box-shadow: 0 0 0 3px lightgrey;
        }

        .timeline ul li h3 {
            margin: 0;
            padding-bottom: 0;
            font-weight: 600;
            color: black;

        }
            
        .timeline ul li p {
            margin: 10px 0 0;
            padding: 0;

        }        
        
        .timeline ul li .time h4 {
            margin: 0;
            padding: 0;
            font-size: 14px;

        }

        .timeline ul li:nth-child(odd) .time {
            position: absolute;
            top: 12px;
            right: -85px;
            margin: 0px;
            padding: 8px 16px;
            background: lightgrey;
            color: black;
            border-radius: 18px;
            box-shadow: lightgreen;
        }        
        
        .timeline ul li:nth-child(even) .time {
            position: absolute;
            top: 12px;
            left: -85px;
            margin: 0px;
            padding: 8px 16px;
            background: lightgrey;
            color: black;
            border-radius: 18px;
        }

        .h1 {
            text-align: center;
            font-size: 60px;
        }
        @media (max-width: 1000px;){
        
        .timeline{
            width: 100%;
        }
        
        }        
        @media (max-width: 767px;){
        
        .h1 {
        text-align: center;
        font-size: 40px;
        padding: 0 20px;
    }
        .timeline{
            width: 100%;
            padding-bottom: 0;
        }
        .timeline:before {
            left: 20px;
        }
        .timeline li:nth-child(odd),        
        .timeline li:nth-child(even){
            width: 100%;
            text-align: left;
            padding-left: 50px;
            padding-bottom: 50px;
        }
        .timeline li:nth-child(odd):before,
        .timeline li:nth-child(even):before{
            top: -18px;
            right: 16px;
        }
        .timeline li:nth-child(odd) .time,
        .timeline li:nth-child(even) .time {
            top: -30px;
            left: 50px;
            right: inherit;
        }
    }


/* SOCIAL MEDIA ICONS */